.social-media-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
}

.button {
    border-radius: 5px;
    background-color: var(--theme);
    font-size: 2rem;
    color: white;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 2s ease;
}